/*Colors*/
/*Fonts*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
@font-face {
  font-family: "Shrikhand", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item--0 {
  -webkit-animation: fadein 0s;
          animation: fadein 0s;
}

.item--1 {
  -webkit-animation: fadein 0.8s;
          animation: fadein 0.8s;
}

.item--2 {
  -webkit-animation: fadein 1.6s;
          animation: fadein 1.6s;
}

.item--3 {
  -webkit-animation: fadein 2.4s;
          animation: fadein 2.4s;
}

.item--4 {
  -webkit-animation: fadein 3.2s;
          animation: fadein 3.2s;
}

.item--5 {
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
}

.item--6 {
  -webkit-animation: fadein 4.8s;
          animation: fadein 4.8s;
}

.item--7 {
  -webkit-animation: fadein 5.6s;
          animation: fadein 5.6s;
}

.item--8 {
  -webkit-animation: fadein 6.4s;
          animation: fadein 6.4s;
}

.item--9 {
  -webkit-animation: fadein 7.2s;
          animation: fadein 7.2s;
}

.item--10 {
  -webkit-animation: fadein 8s;
          animation: fadein 8s;
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
    z-index: 11;
  }
  to {
    opacity: 0;
    display: none;
    z-index: -5;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    z-index: 11;
  }
  to {
    opacity: 0;
    display: none;
    z-index: -5;
  }
}

.loader {
  position: absolute;
  height: 100vh;
  width: 100%;
  -webkit-animation: fadeout 8s forwards;
          animation: fadeout 8s forwards;
  background-color: white;
}

.spin {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: solid white 10px;
  border-bottom: #9356DC solid 10px;
  border-top: #9356DC solid 10px;
  -webkit-animation: spinner 8s forwards;
          animation: spinner 8s forwards;
  position: relative;
  left: 50%;
  right: 50%;
  top: 50%;
}

@media (max-width: 720px) {
  .spin {
    left: 35%;
    top: 35%;
  }
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    display: none;
    opacity: 0;
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    display: none;
    opacity: 0;
  }
}

.position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #d3d3d3;
}

.position i {
  font-size: x-large;
  padding: 1.2rem 1rem 0.5rem 1rem;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e9e9e9;
  padding: 1rem 0rem 1rem 0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0rem 1rem 0rem 1rem;
}

@media (min-width: 920px) {
  .steps_all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.steps_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem 0rem 1rem 0rem;
}

@media (min-width: 720px) {
  .steps_item {
    width: 30%;
  }
}

.steps_number {
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  height: 1.25rem;
  width: 1.25rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem -0.30rem 1rem 0rem;
  z-index: 2;
}

.steps_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-color: black;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-box-shadow: grey 4px 4px 4px 4px;
          box-shadow: grey 4px 4px 4px 4px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 1rem;
  width: 27rem;
  background-color: whitesmoke;
}

.steps_text_symbol {
  padding: 0rem 1rem 0rem 1rem;
  font-size: x-large;
}

.steps_text:hover {
  background-color: #e7d7fa;
}

.steps_text:hover .steps_text_symbol {
  color: #9356DC;
}

.resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem;
}

.resto_card {
  height: 13rem;
  border-radius: 2rem;
  -webkit-box-shadow: 6px 6px 6px 6px grey;
          box-shadow: 6px 6px 6px 6px grey;
  margin: 1rem 0rem 1rem 0rem;
  position: relative;
}

@media (min-width: 720px) {
  .resto_card {
    height: 15rem;
  }
}

.resto_card_overlay {
  background-color: #99E2D0;
  color: green;
  position: absolute;
  top: 15;
  right: 15;
  padding: 0.6rem;
}

.resto_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  width: 85%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.2rem 1rem 0.5rem 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resto_hearth {
  font-size: x-large;
  padding: 1rem 0rem 1rem 0rem;
  position: relative;
}

.resto_hearth i.fas.fa-heart {
  display: none;
  color: #9356DC;
}

.resto_hearth:hover {
  cursor: pointer;
}

.resto_hearth:hover i.far.fa-heart {
  display: none;
}

.resto_hearth:hover i.fas.fa-heart {
  display: block;
}

.resto_card img {
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem 2rem 0rem 0rem;
}

@media (min-width: 720px) {
  .resto_card img {
    height: 10rem;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem;
  height: 2rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header img {
  -o-object-fit: contain;
     object-fit: contain;
}

header a {
  position: absolute;
  left: 15px;
  top: 5px;
  font-size: x-large;
  font-weight: bold;
  color: black;
}

footer {
  width: 100%;
  background-color: #353535;
  color: white;
  padding: 1rem;
}

footer img {
  width: 5rem;
}

footer h4 {
  font-family: "Shrikhand", cursive, serif;
  margin: 0rem 0rem 0rem 0.5rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer p {
  margin: 0.5rem;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.button-purple {
  background-color: #9356DC;
  color: white;
  padding: 1rem;
  border-radius: 3rem;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 2px 2px #757575;
          box-shadow: 2px 2px 2px 2px #757575;
  border: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.button-purple:hover {
  background-color: #bf8bff;
  cursor: pointer;
}

h1, h2, h3, h4 {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
}

.headimage {
  width: 100%;
  height: 13rem;
  z-index: -1;
}

.headimage img {
  width: 100%;
  height: 16rem;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.maindiv {
  background-color: #e9e9e9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 2rem 2rem 0rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
  z-index: 2;
  position: relative;
  padding-left: 1.5rem;
}

@media (min-width: 920px) {
  .maindiv {
    width: 95%;
    margin: auto;
  }
}

.maindiv_title {
  padding: 0.5rem 0rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maindiv_title_hearth {
  float: right;
  padding: 1rem 2rem 0rem 0rem;
  font-size: x-large;
}

.maindiv_title_hearth i.fas.fa-heart {
  display: none;
  color: #9356DC;
}

.maindiv_title_hearth:hover {
  cursor: pointer;
}

.maindiv_title_hearth:hover i.far.fa-heart {
  display: none;
}

.maindiv_title_hearth:hover i.fas.fa-heart {
  display: block;
}

@media (min-width: 768px) {
  .mainmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .mainmenu_course {
    width: 35%;
  }
}

.fooditems {
  border-radius: 1rem;
  background-color: white;
  padding: 0.3rem 0rem 0.3rem 1rem;
  width: 90%;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

@media (min-width: 768px) {
  .fooditems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.fooditems_text p {
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fooditems_text h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fooditems_text {
  position: relative;
  width: 85%;
}

.fooditems_text_text {
  width: 80%;
}

.fooditems_price {
  position: absolute;
  bottom: 1rem;
  right: 0rem;
}

@media (min-width: 768px) {
  .fooditems_price {
    right: 1.5rem;
  }
}

.fooditems_tickbox {
  background-color: #99E2D0;
  font-size: x-large;
  color: white;
  width: 15%;
  margin: -1rem -10rem -1rem -3rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 430px) {
  .fooditems_tickbox {
    width: 18%;
  }
}

.fooditems_tickbox i {
  position: absolute;
  left: 25px;
  top: 45px;
}

@media (max-width: 768px) {
  .fooditems_tickbox i {
    left: 20px;
  }
}

@media (max-width: 920px) {
  .fooditems_tickbox i {
    left: 40px;
  }
}

@media (max-width: 430px) {
  .fooditems_tickbox i {
    left: 25px;
  }
}

@media (max-width: 320px) {
  .fooditems_tickbox i {
    left: 20px;
  }
}

.fooditems:hover .fooditems_tickbox {
  margin: -1rem -1rem -1rem -1rem;
  -webkit-transition: margin 1s;
  transition: margin 1s;
}

.fooditems:hover .fooditems_tickbox i {
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.maindiv_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.mainmenu_course h3 {
  position: relative;
}

.mainmenu_course h3::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  bottom: -8;
  border-bottom: 7px solid #99E2D0;
}
/*# sourceMappingURL=main.css.map */